body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #030201;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 20px;
}

.logo {
    left: 50%;
    display: flex;
}

.logo .desktop {
    height: calc(40px + 1vw);
}

.logo .mobile {
    display: none;
}

.nav-links, .footer-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.nav-links li {
    margin-left: 20px;
    font-size: calc(9px / 1vw);
    line-height: calc(10px - 1vw);
}

.nav-links a, .footer-links a {
    text-decoration: none;
    color: white;
}

.navbar {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
}

.hero-image .desktop {
    height: 580px;
    background-size: cover;
    background-position: center;
    display: flex;
    height: calc(55vw - 1vw);
}

.hero-image {
    z-index: 1;
    position: relative;
}

.mItem img {
    width: 100%;
    background-size: cover;
}
  
.masonry {
    column-count: 3;
    column-gap: 16px;
    margin: 16px;
}
  
.masonry .mItem {
    display: inline-block;
    margin-bottom: 12px;
    width: 100%;
}

footer {
    height: 253px;
    background-color: #030201;
    background-image: url('imgs/barbie\ footer.png');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-links nav {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0%;
}

.footer-links li {
    list-style-type: none;
    margin: 5px;
    font-size: calc(10px * 1vw);
}

.footer-links a {
    text-decoration: none;
    color: white;
}

.legals {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 0.6rem;
}

.legals ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin-top: -10px;
}

.legals img {
    height: 25px;
    margin-bottom: 1px;
}

.legals li {
    margin: 10px;
    padding: 0;
}

.hero-image .mobile {
    width: 100%;
    height: 50vw;
    max-height: 650px;
    background-size: cover;
    background-position: center;
    display: none;
    object-fit: cover;
}
  
  @media (max-width: 1199px) {
    .masonry {
      column-count: 3;
    }
  }
  
  @media (max-width: 991px) {
    .masonry {
      column-count: 2;
    }
  }
  
  @media (max-width: 768px) {
    .masonry {
      column-count: 1;
    }

    .logo .desktop {
        display: none;
    }

    .hero-image .desktop {
        display: none;
    }  

    .logo .mobile {
        left: 50%;
        display: flex;
        height: calc(55px + 1vw);
    }
    
    .hero-image .mobile {
        display: block;
        height: 200vw;
        max-height: 700px;
    }
  }