/* CSS reset */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  position: relative;
}

body, html {
    margin: 0;
    /* padding: 0; */
    font-family: Arial, sans-serif;
    background-color: #030201;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 20px;
}

.logo {
    left: 50%;
    display: flex;
}

.logo img {
    height: 50px;
    height: calc(25px + 1vw);
}

.nav-links, .footer-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.nav-links li {
    margin-left: 20px;
    font-size: calc(9px / 1vw);
    line-height: calc(10px - 1vw);
}

.nav-links a, .footer-links a {
    text-decoration: none;
    color: white;
}

.navbar {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
}

.hero-image img {
    height: 580px;
    background-size: cover;
    background-position: center;
    display: flex;
    height: calc(55vw - 1vw);
}

.hero-image {
    z-index: 1;
    position: relative;
}
.container {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 250px);
  margin: 0 auto;
  max-width: 98%;
  padding: 1.5rem 0;
}

.img {
  border-radius: 1rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item-4 {
  grid-row: 2/5;
}

.item-5 {
  grid-row: 2/6;
}

.item-6 {
  grid-row: 2/4;
}

.item-7 {
  grid-row: 5/6;
}

.item-8 {
  grid-row: 4/6;
}

.item-9 {
  grid-row: 6/11;
}

.item-10 {
  grid-row: 6/7;
}

.item-11 {
  grid-row: 6/9;
}

.item-12 {
  grid-row: 7/12;
}

.item-13 {
  grid-row: 9/13;
}

.item-14 {
  grid-row: 11/13;
}

footer {
    height: 253px;
    background-color: #030201;
    background-image: url('imgs/barbie\ footer.png');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-links nav {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0%;
}

.footer-links li {
    list-style-type: none;
    margin: 5px;
    font-size: calc(10px * 1vw);
}

.footer-links a {
    text-decoration: none;
    color: white;
}

.legals {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 0.6rem;
}

.legals ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin-top: -10px;
}

.legals img {
    height: 25px;
    margin-bottom: 1px;
}

.legals li {
    margin: 10px;
    padding: 0;
}